._*
.~lock.*
.DS_Store
composer.lock
composer.phar
vendor

# VAR folder
var

## ORM/DB related
module/orm/Agriculture/Base
module/orm/Agriculture/Map
module/orm/generated-conf
module/orm/generated-sql/
